.detail{
    display: flex;
    gap: 1rem;
}
.detail__info{
    display: flex;  
}
.detail__title{
    text-transform: capitalize;
    text-align: right;
    width: 500px;
    margin-right: 15px;
    margin-top: 3px;
}
.detail__value{
    line-height: 30px;
    letter-spacing: 1px;
    width: 500px;
}
.detail__btn-flex{
    display: flex;
    margin-left: 400px;
}
.detail__btn{
    margin-left: 25px;
    width: 100px;
}

.no__result{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.no__result > p {
    font-size: 70px;
    font-weight: bold;
    color: rgba(201, 201, 201, 0.737);
    letter-spacing: 1.5px;
    -webkit-text-stroke: 1px rgba(0, 0, 0, 0.733);
}