.create{
    position: absolute;
    top: 5%;
    right: 10%;
}

.createBtn{
    width: 100%;
    padding: 10px 15px;
    background-color: rgb(59, 59, 245);
    color: white;
    letter-spacing: 1px;
    border: none;
}

/* tabel */
.projects{
    margin-top: 10%;
    margin-left: 20%;
    width: 70%;
}

table{
  
    line-height: 35px;
    width: 100%;
    text-align: center;
    border-collapse: "collapse";
    margin-bottom: 30px;
}
th{
    background: #c5c3c3;
}


tbody{
    background-color: rgb(204, 209, 214);
}

.Edit{
    width: 70%;
    padding: 5px 10px;
    margin: 5px;
    background-color: rgb(59, 59, 245);
    color:  white;
    cursor: pointer;
}
.save__project-btn{
    margin-top: 15px;
    text-align: center;
    border: rgba(196, 208, 21, 0.861);
}
/* HTML: <div class="star"></div> */
.star {
  width: 30px;  
  aspect-ratio: 1;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.1turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
  /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
   */
}
.savedStar{
    background-color: rgb(174, 149, 10);
    width: 30px;  
  aspect-ratio: 1;
  clip-path: polygon(50% 0,
    calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
    calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
    calc(50%*(1 - sin(.1turn))) calc(50%*(1 - cos(.4turn))) 
   ); 
}
.save__project{
    color: brown;
    font-size: 30px;
}