.App{
  position: absolute;
  width: 100%;
  height: 100%;
}
h1{
  font-size: 20px;
}
.aside{
  padding: 3px;
  width: 15%;
  height: 100%;
  float: left;
  border-right: 1px solid black;
}
.aside ul{
  line-height: 40px;
}

